@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", serif;
}

:root{
  --main-bg: #121212;
  --overlay: #1e1e1e;
  --accent: #3768f8;
  --border: #424242;
  --text: #fff;
  --faint-text: #c5c5c5;
  --sidebar-width: 250px;
  --main-area-padding: 50px;
}

html{
  background: var(--main-bg);
}

body{
  display: flex;
  flex-direction: row;
}

#main-area{
  color: rgba(255, 255, 255, 0.914);
  width: calc(100vw - 250px - 2 * var(--main-area-padding));
  padding: var(--main-area-padding);
  padding-top: 40px;
}

#main-area * {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

#sidebar-holder{
  height: 100vh;
  overflow-y: hidden;
}

#sidebar{
  background: var(--overlay);
  width: var(--sidebar-width);
  height: 99vh;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 0 0;

  overflow-y: scroll;
  overflow-x: hidden;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

.sidebar-el{
  width: calc(var(--sidebar-width) - 35px);
  background: var(--main-bg);
  margin: 10px 0 10px 0;
  border-radius: 0.5em;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  padding: 15px 0 15px 15px;
}

.sidebar-sub-main{
  display: flex;
  align-items: center;
}

.sidebar-sub-el{
  display: flex;
  align-items: center;
  color: #2e2e2e;
}

.sidebar-sub-el:hover{
  color: var(--border);
}

.active {
  color: #a4bbfd !important;
}

.sidebar-el-name{
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-around;
  margin: 0 0 0 15px;
}

.dash{
  width: 100%;
  height: 25px;
  border-left: 2px solid #575757;
  margin-left: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mini-title{
  color: var(--faint-text);
  font-size: 0.9em;
}

.main-title{
  color: var(--text);
  font-size: 1.1em;
}

.code {
  font-family: monospace;
  background: var(--border);
  padding: 3px 5px 3px 5px;
  border-radius: 0.3em;
  margin: 0 4px 0 4px;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}